<div class="row w-1-2 m-a ta-c">
	<p> While going through my <a href="https://www.playintervention.com" target="_blank">Kickstarter</a>, I was disappointed in the lack of Kickstarter stats on a daily or weekly basis. I created this site to crawl Kickstarter's page for their stats and monitor their stats on a daily basis. This is a work in progress</p>
</div>

<div class="row w-2-3 m-a ta-c">
	<h1 class="m-0"> Kickstarter Money Pledged By Day Of Week </h1>
	<p class="m-0"> Since Jan '15 </p>
	<svg class="week_chart m-a">
	</svg>
</div>


<div class="row w-2-3 m-a ta-c">
	<h1 class="m-0"> Kickstarter Money Pledged By Month </h1>
	<svg class="month_chart m-a">
	</svg>
</div>