<div class="row w-2-3 m-a ta-c">
		<h1 class="m-0"> Kickstarter Money Pledged By Day Of Week </h1>
		<p class="m-0"> Since Jan '15 </p>
		<svg class="week_chart m-a">

		</svg>

		<h1 class="m-0"> Kickstarter Money Pledged By Month </h1>
		<svg class="month_chart m-a">

		</svg>
	</div>
</div>